

.title {
  width: 100%;
  height: 234px;
  position: fixed;
  z-index: 1000;
  background-color: black;
  opacity: .8;
  padding-bottom: 0px;
  top: 0;
  h1 {
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 6px;
    line-height: 34px;
    text-align: left;
    color: black;
    background-color: white;
    padding-bottom: 0px;
    padding-right: 25px;
    padding-left: 14px;
    padding-bottom: 4px;
    padding-top: 162px;
    margin-top: 0px;
    margin-left: 7.5%;
    margin-bottom: 0px;
    width: 100px;
  }
  span {
    letter-spacing: 6px;
    font-size: 20px;
    color: black;
    padding-left: 5px;
    padding-top: 2px;
    margin-left: -4px;
    background-color: white;
  }
  .navigation {
    display: block;
    float: left;
    margin-top: 20px;
    ul {
      font-family: sans-serif;
      font-size: 14px;
      margin-left: 18%;
      margin-top: 0px;
      padding: 0px;
      letter-spacing: 2px;
      li {
        width: 75px;
        height: 15px;
        padding-bottom: 3px;
        margin-bottom: 13px;
        a {
          text-decoration: none;
          padding-bottom: 1px;
          color: white;
          &:hover {
            border-bottom-style: solid;
            border-bottom-width: 2px;
          }
        }
      }
    }
  }
}



.images {
  width: 100%;
  margin: auto;
  margin-top: 234px;
  overflow: hidden;
  .thumbnail {
    background-color: white;
    position: relative;
    display: inline-block;
    float: left;
    width: 360px;
    height: 360px;
    .purchase {
      display: none;
      text-decoration: none;
    }
    img {
      opacity: 1;
      -webkit-transition: opacity .25s ease-in-out;
      padding: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      width: 360px;
    }
    &:hover {
      img {
        opacity: .4;
      }
      .purchase {
        top: 92.9%;
        font-family: sans-serif;
        position: absolute;
        float: left;
        margin: auto;
        display: block;
        letter-spacing: 3px;
        color: white;
        background-color: black;
        width: 154px;
        padding: 6px;
        padding-left: 19px;
        padding-right: 187px;
        padding-top: 5px;
        font-weight: lighter;
        font-size: 15px;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

.pagination {
  font-family: sans-serif;
  width: 200px;
  margin: auto;
  font-size: 20px;
  margin-bottom: 0px;
  .view_more {
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    line-height: 108px;
    font-weight: 100;
    &:visited{
      color: black;
    }
    &:hover {
      background-color: black;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      color: white;
    }
  }
}
